<img class="lightbox__image" src="{{largeImageURL}}" alt="{{type}}:{{tags}}" />
<ul class="modal__stats">
    <li class="modal__item"><span>author: {{user}}</span></li>
    <li class="modal__item"><span>Max Size for download: {{imageWidth}} x {{imageHeight}}</span></li>
    <li class="modal__item"><a href="{{pageURL}}" rel="nofollow" target="_blank"
            title="here you can download max size">download</a></li>
</ul>